@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');


body {
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

header {
  height: 450px;
  background-color: #FFED74;
  border: 1px black solid;
  padding: 20px;
}

a {
	font-weight: bold;
  color: #FF0000;
  text-decoration: none;
}


nav{
  background-color: #E8C66A;
  border: 1px black solid;
  padding: 20px;
}

nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

h2 {
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  text-transform: uppercase;
}

footer {
  height: 120px;
  background-color: #FF957E;
  border: 1px black solid;
  padding: 20px;
}

.class {
  width: 500px;
  margin: 40px auto;
  color: orange;
}

#info {
  background: #FFE2B8;
  border: 1px black solid;
  padding: 20px
}

#logo {
  padding-top: 75px;
}

#green {
  height: 80px;
  background-color: #FFE2B8;
  margin: 0px;
  border: 1px black solid;
  padding: 20px;
}

#red {
  height: 80px;
  background-color: #FFE2B8;
  border: 1px black solid;
  padding: 20px
}

#about {
  background-color: #FFE2B8;
  text-align: left;
  color: black;
  border: 1px black solid;
  padding: 20px
}

#footnav {  
  padding-top: 20px;
  padding-bottom: 10px;
}
